{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "printWidth": 80,
  "arrowParens": "always",
  "proseWrap": "always"
}
